.websiteBody {
  margin: 0;
}
.Page {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.Page-outer {
  z-index: 1;
}
.Frame {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-left: 0;
  height: 1024px;
  min-width: 200px;
  max-width: 1440px;
  margin: auto;
  background-color: rgba(145, 46, 222, 0.20000000298023224);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  overflow: hidden;
}
.Frame-outer {
  z-index: 2;
}
.image-4 {
  position: relative;
  z-index: 26;

  margin-left: 175px;
  width: 260px;
  min-width: 260px;
  height: 160px;
  margin-top: 114px;
  margin-bottom: 750px;
  min-height: 160px;
  content: url(assets/images/image_4.png);
}
.image-4-outer {
  z-index: 5;
  position: relative;
  display: flex;
}
.q211449711-1 {
  position: relative;
  z-index: 22;

  margin-left: 600px;
  width: 700px;
  min-width: 700px;
  height: 650px;
  margin-top: -800px;
  margin-bottom: 50px;
  min-height: 650px;
  content: url(assets/images/_211449711_1.png);
}
.q211449711-1-outer {
  z-index: 22;
  position: relative;
  display: flex;
}
.Login-1 {
  position: relative;
  z-index: 7;

  margin-left: 181px;
  width: 89px;
  min-width: 89px;
  margin-top: -704px;
  margin-bottom: 662px;
  min-height: 42px;
  text-align: left;
  color: rgba(3, 3, 3, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: nullpx;
  line-height: 15px;
}
.Login-1-outer {
  z-index: 7;
  position: relative;
  display: flex;
}
.Login-1-1 {
  color: rgba(3, 3, 3, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 36px;
  line-height: 15px;
}
.Login-1-2 {
  color: rgba(3, 3, 3, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}
.Don-t-have-an-Accoun {
  position: relative;
  z-index: 15;

  margin-left: 181px;
  width: 221px;
  min-width: 221px;
  margin-top: -652px;
  margin-bottom: 637px;
  min-height: 15px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}
.Don-t-have-an-Accoun-outer {
  z-index: 15;
  position: relative;
  display: flex;
}
.Don-t-have-an-Accoun-1 {
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}
.Don-t-have-an-Accoun-2 {
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 13px;
  text-decoration: underline;
  line-height: 15px;
}

.Email-Address {
  position: relative;
  z-index: 6;

  margin-left: 181px;
  width: 111px;
  min-width: 111px;
  margin-top: -604px;
  margin-bottom: 584px;
  min-height: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.Email-Address-outer {
  z-index: 6;
  position: relative;
  display: flex;
}
.Rectangle-2 {
  position: relative;
  z-index: 9;

  margin-left: 181px;
  width: 250px;
  min-width: 250px;
  height: 40px;
  margin-top: -578px;
  margin-bottom: 538px;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 6px;
}
.Rectangle-2-outer {
  z-index: 9;
  position: relative;
  display: flex;
}
.Enter-your-email {
  position: relative;
  z-index: 24;

  margin-left: 192px;
  width: 106px;
  min-width: 106px;
  margin-top: -566px;
  margin-bottom: 550px;
  min-height: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(165, 150, 150, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.Enter-your-email-outer {
  z-index: 24;
  position: relative;
  display: flex;
}
.Enter-your-email-1 {
  position: relative;
  z-index: 11;

  margin-left: 192px;
  width: 106px;
  min-width: 106px;
  margin-top: -566px;
  margin-bottom: 550px;
  min-height: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(165, 150, 150, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.Enter-your-email-1-outer {
  z-index: 11;
  position: relative;
  display: flex;
}
.Password-1 {
  position: relative;
  z-index: 4;

  margin-left: 181px;
  width: 80px;
  min-width: 75px;
  margin-top: -525px;
  margin-bottom: 504px;
  min-height: 21px;
  text-align: left;
  color: rgba(31, 23, 23, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.Password-1-outer {
  z-index: 4;
  position: relative;
  display: flex;
}
.Password-1-1 {
  color: rgba(31, 23, 23, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.Password-1-2 {
  color: rgba(31, 23, 23, 1);
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.Password-1-3 {
  color: rgba(31, 23, 23, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.Forgot-Password- {
  position: relative;
  z-index: 5;

  margin-left: 316px;
  width: 111px;
  min-width: 111px;
  margin-top: -520px;
  margin-bottom: 504px;
  min-height: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(31, 23, 23, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.Forgot-Password--outer {
  z-index: 5;
  position: relative;
  display: flex;
}
.Rectangle-3 {
  position: relative;
  z-index: 10;

  margin-left: 181px;
  width: 250px;
  min-width: 250px;
  height: 40px;
  margin-top: -492px;
  margin-bottom: 452px;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 6px;
}
.Rectangle-3-outer {
  z-index: 10;
  position: relative;
  display: flex;
}
.eye-1 {
  position: relative;
  z-index: 12;

  margin-left: 393px;
  width: 23px;
  min-width: 23px;
  height: 20px;
  margin-top: -482px;
  margin-bottom: 462px;
  min-height: 20px;
  content: url(assets/images/eye_1.png);
}
.eye-1-outer {
  z-index: 12;
  position: relative;
  display: flex;
}
.Password {
  position: relative;
  z-index: 25;

  margin-left: 192px;
  width: 59px;
  min-width: 59px;
  margin-top: -480px;
  margin-bottom: 464px;
  min-height: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(165, 150, 150, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.Password-outer {
  z-index: 25;
  position: relative;
  display: flex;
}
.Remember-Me {
  position: relative;
  z-index: 8;

  margin-left: 200px;
  width: 122px;
  min-width: 122px;
  margin-top: -437px;
  margin-bottom: 418px;
  min-height: 19px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(13, 12, 12, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.Remember-Me-outer {
  z-index: 8;
  position: relative;
  display: flex;
}
.Rectangle-7 {
  position: relative;
  z-index: 23;

  margin-left: 187px;
  width: 10px;
  min-width: 10px;
  height: 9px;
  margin-top: -433px;
  margin-bottom: 424px;
  min-height: 9px;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 2px;
}
.Rectangle-7-outer {
  z-index: 23;
  position: relative;
  display: flex;
}
.Rectangle-4 {
  position: relative;
  z-index: 13;

  margin-left: 181px;
  width: 250px;
  min-width: 250px;
  height: 40px;
  margin-top: -404px;
  margin-bottom: 364px;
  min-height: 40px;
  background-color: rgba(233, 213, 248, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
}
.Rectangle-4-outer {
  z-index: 13;
  position: relative;
  display: flex;
}
.Login {
  position: relative;
  z-index: 14;
  margin-left: 280px;
  width: 52px;
  min-width: 52px;
  margin-top: -391px;
  margin-bottom: 370px;
  min-height: 21px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.Login-outer {
  z-index: 14;
  position: relative;
  display: flex;
}
.or-login-with {
  position: relative;
  z-index: 17;

  margin-left: 263px;
  width: 83px;
  min-width: 83px;
  margin-top: -333px;
  margin-bottom: 317px;
  min-height: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(22, 19, 19, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.or-login-with-outer {
  z-index: 17;
  position: relative;
  display: flex;
}
.Line-2 {
  position: relative;
  z-index: 21;

  transform: rotate(180deg);
  margin-left: 350px;
  width: 80px;
  min-width: 80px;
  margin-top: -325px;
  margin-bottom: 325px;
  min-height: undefinedpx;
  border: 1px solid rgb(0, 0, 0);
}
.Line-2-outer {
  z-index: 21;
  position: relative;
  display: flex;
}
.Line-1 {
  position: relative;
  z-index: 20;

  transform: rotate(-9.691548408123772e-17deg);
  margin-left: 175px;
  width: 80px;
  min-width: 80px;
  margin-top: -328px;
  margin-bottom: 328px;
  min-height: undefinedpx;
  border: 1px solid rgb(0, 0, 0);
}
.Line-1-outer {
  z-index: 20;
  position: relative;
  display: flex;
}
.Rectangle-6 {
  position: relative;
  z-index: 16;

  margin-left: 215px;
  width: 182px;
  min-width: 182px;
  height: 43px;
  margin-top: -290px;
  margin-bottom: 247px;
  min-height: 43px;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 10px;
}
.Rectangle-6-outer {
  z-index: 16;
  position: relative;
  display: flex;
}
.Google {
  position: relative;
  z-index: 18;

  margin-left: 275px;
  width: 57px;
  min-width: 57px;
  margin-top: -280px;
  margin-bottom: 260px;
  min-height: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(248, 54, 54, 1);
  font-style: normal;
  font-family: Kulim Park;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.Google-outer {
  z-index: 18;
  position: relative;
  display: flex;
}
.google-logo-9808-1 {
  position: relative;
  z-index: 19;

  margin-left: 232px;
  width: 19px;
  min-width: 19px;
  height: 19px;
  margin-top: -278px;
  margin-bottom: 259px;
  min-height: 19px;
  content: url(assets/images/google_logo_9808_1.png);
}
.google-logo-9808-1-outer {
  z-index: 19;
  position: relative;
  display: flex;
}
.Rectangle-5 {
  position: relative;
  z-index: 3;

  margin-left: 14px;
  width: 1324px;
  height: 861px;
  margin-top: 31px;
  content: url(assets/images/Rectangle_5.png);
}
.Rectangle-5-outer {
  z-index: 3;
  justify-content: center;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
}
